<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<center>

  <form action="/weather" method="post">
  enter weathername:<input type="text" name="cityname"><br>
  <input type="submit" name="submit">
</form>
  <center>
